<!---------------------- 

   Copyright 2023 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="license-dialog d-flex flex-column justify-content-center flex-11a">
  <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
    <span>Ліцензія MIT (MIT)</span>
  </div>
  <mat-dialog-content class="p-3 pr-0 oy-auto d-flex flex-column flex-11a">
    <div class="pr-3">
      <p>
        Авторське право 2023 Баттель Енерджі Ельянс, LLC 
      </p>
      <p>
        Дозвіл на використання, безкоштовно, надається будь-якій особі, яка отримує копію цього програмного забезпечення
        та пов'язані файли з документацією (далі - "Програмне забезпечення"), на використання Програмного забезпечення
        без обмежень, включаючи, без обмежень, права на використання, копіювання, зміну, об'єднання, публікування,
        розповсюдження, передачу підліцензій та/або продаж копій Програмного забезпечення, а також надати особам, яким
        надано Програмне забезпечення, зробити це, за умови наступних умов:
      </p>
      <p>
        Вищезазначений повідомлення про авторське право та це повідомлення про дозвіл повинні бути включені у всі копії
        або суттєві частини Програмного забезпечення.
      </p>
      <p>
        ПРОГРАМНЕ ЗАБЕЗПЕЧЕННЯ НАДАЄТЬСЯ "ЯК Є", БЕЗ ГАРАНТІЙ БУДЬ-ЯКОГО ВИДУ, ВИКЛАДЕНИХ ЧИ ПІДТВЕРДЖЕНИХ, ВКЛЮЧАЮЧИ,
        АЛЕ НЕ ОБМЕЖУЮЧИСЬ ГАРАНТІЯМИ ЩОДО РИНКОВОЇ ЯКОСТІ, ПРИДАТНОСТІ ДЛЯ ПЕВНОГО ЦІЛЕВОГО ПРИЗНАЧЕННЯ ТА
        НЕПОРУШЕННОСТІ. В ЖОДНОМУ ВИПАДКУ АВТОРИ АБО ВЛАСНИКИ АВТОРСЬКИХ ПРАВ НЕ НЕСУТЬ ВІДПОВІДАЛЬНОСТІ ЗА БУДЬ-ЯКИМИ
        ВИМОГАМИ, ЗБИТКАМИ ЧИ ІНШОЮ ВІДПОВІДАЛЬНІСТЮ, НЕЗАЛЕЖНО ВІД ТОГО, ЧИ ЦЕ ВИИЧІ ЗА ДІЇ ЗАГАЛЬНОГО ДОГОВОРУ,
        ЗАГАЛЬНОГО ЦИВІЛЬНОГО ПРАВА АБО ІНШИХ ОБСТАВИН, ЩО ВИИЧІВАЮТЬСЯ ВІД ВИКОРИСТАННЯ ЧИ ІНШОГО ОБІГУ ПРОГРАМНОГО
        ЗАБЕЗПЕЧЕННЯ.
      </p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="p-3 pt-0 mb-0 d-flex justify-content-between flex-00a">
    <button class="btn btn-secondary" (click)="close()">OK</button>
  </mat-dialog-actions>
</div>