<!---------------------- 

   Copyright 2023 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a tutorial">
  <h3 class="wrap-text mb-3">IMR Посібник</h3>

  <div class="mb-5">

    <h4>Огляд</h4>
    <p>
      Огляд управління інцидентами (IMR) базується на принципі, що стійка функція управління інцидентами може покращити
      загальну кіберстійкість організації. IMR складається з низки питань, відповіді на які надають відомості про те, як
      організація може покращити свою здатність виявляти, аналізувати та реагувати на події та інциденти у повторюваному
      порядку. IMR також дозволяє оцінити здатність організації до обробки подій та інцидентів у порівнянні з версією
      1.1 кадру кібербезпеки Національного інституту стандартів та технологій (NIST) з результатами оцінки IMR
      відображеними в термінах NIST CSF.
    </p>

    <p>
      "Функція управління інцидентами" - це частина(и) організації, яка забезпечує послуги управління та реагування на
      інциденти для організації. Вона відповідає за виконання всіх практик управління і реагування на інциденти. З метою
      спрощення термін "персонал управління інцидентами" вказує на групи чи окремих осіб, які здійснюють діяльність
      функції управління інцидентами. Крім того, термін "організація" вказує на всю [суверенну] групу, включаючи
      персонал управління інцидентами. Ми використовуємо термін "зацікавлені особи", щоб ідентифікувати тих, хто має
      зацікавленість у Функції управління інцидентами організації або в її діяльності, незалежно від того, внутрішні
      вони чи зовнішні до організації.
    </p>
  </div>


  <div class="mb-5">
    <h4>Оцінка IMR </h4>

    <p>
      Оцінка IMR - це легкий метод оцінки, створений Управлінням кібербезпеки та безпеки інфраструктури (CISA)
      Міністерства внутрішньої безпеки (DHS) з метою оцінки практик управління кібербезпекою організації. Оцінка IMR,
      складається з 88 питань, як правило, проводиться під час трьох-чотирьох годин інтерактивного семінару, проведеного
      фасилітаторами з CISA.
    </p>

    <p>
      Оцінка IMR відображає можливості організації лише в один конкретний момент часу - на час оцінки. Навіть якщо певні
      аспекти та питання оцінки IMR спрямовані на вказівку здатності організації подовження практик управління
      кібербезпекою з часом, організація не повинна покладатися на результати оцінки як на вичерпне висловлення
      можливостей управління інцидентами в майбутньому.
    </p>

    <p>
      Оцінка не враховує:
    </p>
    <ul>
      <li>
        діяльності, які заплановані або знаходяться в процесі впровадження.
      </li>
      <li>
        практики, які не здійснювалися тривалий час. Наприклад, якщо у організації є план відновлення після виникнення
        кризової ситуації, який за відгуками учасників є застарілим до такої міри, що його неможливо використовувати, то
        цей план не повинен бути врахованим.
      </li>
    </ul>
  </div>

  <div class="mb-5">
    <h4>
      Обсяг оцінювання
    </h4>

    <p>
      Визначення обсягу оцінювання є критичним, оскільки відповіді на запитання IMR повинні надаватися відносно набору
      критичних сервісів організації та активів, що лежать в їх основі, за які відповідає функція керування інцидентами.
      Функція управління інцидентами організації повинна мати можливість реагувати на події та інциденти, що впливають
      на будь-які надзвичайно важливі послуги організації. IMR має організаційний характер, в той час як Cyber
      Resilience Review (CRR) спрямований на одну послугу. У деяких великих організаціях може бути кілька функцій
      управління інцидентами. Наприклад, у великій корпорації може існувати централізована функція управління
      інцидентами, відповідальна за вирішення питань, пов'язаних із сервісами, що надаються корпоративним центральним
      офісом його бізнес-підрозділам. У бізнес-підрозділів може бути власна функція керування інцидентами для вирішення
      питань, пов'язаних із власними критичними сервісами бізнес-підрозділів. Обсягом буде набір критичних сервісів, за
      які відповідає оцінювана функція керування інцидентами.
    </p>

    <p>
      Критичний сервіс визначається як:
    </p>
    <p>
      Набір дій, які організація виконує під час своєї діяльності або виробництві продукту, які настільки важливі, що їх
      порушення серйозно позначиться на подальших діях або успіху в досягненні своєї місії.
    </p>

    <p>
      Зазвичай у організацій є набір критичних служб, які визначають їхню місію. Вибір критичної служби для оцінювання,
      а не оцінювання організації в цілому, допомагає визначити обсяг оцінювання та пов'язати результати з місією
      організації.
    </p>

    <p>
      Нижче наведено приклади організацій та їх типових критичних послуг:
    </p>

    <ul>
      <li>банки та інші фінансові установи: кліринг та розрахунки, обробка іпотечних заявок</li>
      <li>постачальники екстрених служб: обробка викликів 911, диспетчеризація</li>
      <li>електростанції: виробництво електроенергії, розподіл електроенергії</li>
      <li>лікарні: клінічні послуги, управління рецептами</li>
      <li>урядові агенції: управління справами в судах, управління соціальними виплатами</li>
      <li>виробничі компанії: операції обробки, обробка замовлень</li>
      <li>аеропорти: контроль повітряного руху, управління паливом</li>
    </ul>
  </div>

  <div class="mb-5">
    <h4>
      Структура практичних питань
    </h4>

    <p>
      Для кожного практичного питання передбачена 3-бальна шкала відповідей для оцінки ступеня впровадження кожної
      практики. Кожне питання має три можливі відповіді: «Так», «Не завершено» та «Ні»:
    </p>

    <img title="yes-no-inc" src="assets/images/IMR/tutorial/answer-options.png" style="height: 3rem; width: 8.9rem">
    <ul>
      <li><strong>Так</strong> – організація повністю виконує вказану в питанні дія. </li>
      <li><strong>Не завершено</strong> – організація частково виконує дію. </li>
      <li><strong>Ні</strong> – організація не виконує дію взагалі.</li>
    </ul>

    <p>
      <img title="flag for review icon" src="assets/images/IMR/tutorial/button-mark-for-review.png"
        style="height: 3rem; vertical-align: bottom;">

      <strong>Позначити для перевірки:</strong> праворуч від трибальної шкали відповідей є значок прапорця, який можна
      використовувати для позначення практики для перегляду. Список питань, позначених для перегляду, надається у звіті
      під назвою <u>Коментарі та потребує огляду</u>.
    </p>


    <p>
      <img title="supplemental guidance icon" src="assets/images/IMR/tutorial/icon-guidance.png"
        style="height: 2.4rem; vertical-align: bottom;">
      <strong>Додаткові вказівки:</strong> Щоб допомогти фасилітатору, кожне запитання супроводжується вказівками. У
      посібнику слід звернутися до довідкової інформації, можливих прикладів, потенційних артефактів <strong>а також для
        критеріїв, які визначають вимоги для відповідей «Так» і «Не завершено»</strong>. Вказівки відображаються,
      вибравши
      піктограму вказівок із літерою «G», розташовану під кожним запитанням. Дуже важливо, щоб оцінювачі зверталися до
      вказівок під час оцінювання відповіді організації на запитання, щоб переконатися, що мета та обсяг запитання
      зрозумілі та що відповідь на запитання відповідає критеріям підрахунку балів для відповіді «Так» або «Не
      завершено».
    </p>

    <p>
      <img title="comments icon" src="assets/images/IMR/tutorial/icon-comments.png"
        style="height: 2.4rem; vertical-align: bottom;">
      <strong>Коментарі:</strong> Якщо вибрати цю піктограму, відобразиться текстове поле, яке можна використовувати для
      коментарів щодо запитання. Наприклад, фасилітатор для подальшого використання може зробити нотатку, чому відповідь
      була позначена як неповна, а не як так. Зауважте, що ці коментарі не включено до офіційного звіту та призначені
      для приватних для фасилітатора. Ці коментарі можна знайти у звіті «Коментарі» та «Позначено для перегляду».
    </p>

    <p>
      <img title="artifacts icon" src="assets/images/IMR/tutorial/icon-artifacts.png"
        style="height: 2.4rem; vertical-align: bottom;">
      Артефакти/Документи: Легко пов’язуйте, відстежуйте та зберігайте артефакти та інші супровідні документи для
      кожного запитання протягом усього оцінювання.
    </p>

    <p>
      <img title="references icon" src="assets/images/IMR/tutorial/icon-references.png"
        style="height: 2.4rem; vertical-align: bottom;">
      <strong>Посилання:</strong> Якщо вибрати піктограму «Посилання», відобразяться параметри для розгляду, пов’язані з
      кожним запитанням. Параметри для розгляду зазвичай містяться у звіті, а також стають доступними фасилітатору під
      час виконання оцінювання за допомогою цієї функції. Варіанти для розгляду надають загальну довідкову інформацію,
      приклади артефактів і атрибутів, окреслюють загальні вказівки або дії та пов’язані з ними джерела інформації, які
      можуть бути використані для дослідження та вдосконалення практики обробки подій та інцидентів організації та
      стійкості служби управління інцидентами, що надається організації.
    </p>

    <p>
      <img title="observations icon" src="assets/images/IMR/tutorial/icon-observations.png"
        style="height: 2.4rem; vertical-align: bottom;">
      <strong>Сопстереження</strong>: Якщо вибрати цю піктограму, з’явиться діалогове вікно з деталями спостереження,
      яке використовується для збору додаткової інформації про конкретне практичне запитання. Тип інформації, яку можна
      зібрати, включає назву спостереження, рівень важливості, дату вирішення, опис проблеми, пов’язаний вплив,
      запропоновані рекомендації, відповідальну особу тощо.
    </p>

    <p>
      <img title="feedback icon" src="assets/images/IMR/tutorial/icon-feedback.png"
        style="height: 2.4rem; vertical-align: bottom;">
      <strong>Зворотній зв'язок</strong>: Використовується для надання відгуку щодо запитання до CISA. Наприклад,
      користувач може зауважити, що запитання надто складне або заплутане, і запропонувати альтернативне
      формулювання.
    </p>

    <p>
      Після останнього домену в оцінці натисніть «Далі», щоб перейти до екрана «Інші зауваження». Це поле введення можна
      використовувати для збору такої інформації, як загальні спостереження або конкретної інформації, отриманої під час
      оцінювання. Наприклад, якщо вже ведеться робота з удосконалення для вирішення певних практик домену, це можна
      детально викласти тут, щоб зробити це частиною офіційного звіту. <strong>Оскільки цей текст дослівно скопійовано у
        звіті, оцінювачі повинні бути обережними у своїх коментарях</strong>.
    </p>
    <img title="other remarks screen" src="assets/images/IMR/tutorial/other-remarks-screen.png"
      style="height: 16rem; width: fit-content; border: 1px solid #ccc;">
  </div>

  <div class="mb-5">
    <h4>
      Типи активів
    </h4>

    <p>
      Подібно до оцінювання CRR, IMR враховує чотири категорії активів: Людей, Інформацію, Технології та Матеріальні
      ресурси. При оцінюванні IMR будь-яке питання, яке стосується активів, має на увазі всі типи активів і повинно
      фіксувати, що розглядає всі різноманітні типи активів разом. На відміну від CRR, оцінювання IMR не має питань, які
      б запитували про кожний тип активів окремо. Визначення кожного типу активу наведено нижче:
    </p>

    <ul>
      <li>Люди - персонал (як внутрішній, так і зовнішній для організації), такі як люди, які підтримують центри обробки
        даних чи використовують інформаційно-комунікаційні технології для управління та моніторингу сервісу. </li>
      <li>Інформація - інформація облікового запису, файли конфігурації технічних активів, операційні дані, інформація
        про клієнтів та інша інформація, необхідна для надання послуги.</li>
      <li>Технології - комп'ютери (апаратне забезпечення), програмне забезпечення, системи управління чи інші
        технології, включаючи зовнішні інформаційні системи, які організація використовує для надання послуг. </li>
      <li>Споруди - офісні будівлі, центри обробки даних та інші фізичні структури, які підтримують надання послуги.
      </li>
    </ul>
  </div>

  <app-nav-back-next [page]="'tutorial-imr'" [hide]="'back'"></app-nav-back-next>

</div>