<!---------------------- 

   Copyright 2023 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="about d-flex flex-column justify-content-center flex-11a">

    <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a w-100">
        <span class="cset-icons-book-open mr-3 fs-base-6"></span>
        <span>Посібник із готовності до програм-вимагачів</span>
    </div>

    <mat-dialog-content class="oy-auto p-3 pr-0 d-flex flex-column flex-11a w-100">

        <div style="max-width: 50rem">
            <h3 class="wrap-text mb-3">Посібник із готовності до програм-вимагачів</h3>
            <div>
                <p>Програмне забезпечення-вимагач – це форма зловмисного програмного забезпечення, що постійно
                    розвивається, призначена для шифрування файлів на пристрої, роблячи будь-які файли та системи, які
                    від них залежать, непридатними. Потім зловмисники вимагають викуп в обмін на розшифровку. Актори
                    програм-вимагачів часто націлюються та погрожують продати або розкрити викрадені дані чи інформацію
                    автентифікації, якщо викуп не буде сплачено. В останні роки інциденти з програмами-вимагачами стають
                    все більш поширеними серед державних, місцевих, племінних і територіальних (SLTT) державних установ
                    і організацій критичної інфраструктури.
                </p>

                <p>Злочинні елементи продовжують адаптувати та розвивати свої тактики програмних засобів-вимагачів з
                    часом, і аналітики CISA залишаються пильними в підтримці усвідомленості про випадки програм-вимагачів,
                     а також пов'язані тактики, методи та процедури по всій країні та по всьому світу. </p>

                <p>Ця оцінка готовності до програм-вимагачів (RRA) допоможе вам зрозуміти ваш постій безпеки щодо
                    постійно зростаючої загрози програмного забеспечення-вимагача. RRA також надає чіткий шлях для
                    вдосконалення та містить постійне просування питань, розподілених за категоріями - базовою,
                    середньою та високою. Це призначено для того, щоб допомогти організації покращуватися, спочатку
                    зосереджуючись на основах, а потім просуваючися, впроваджуючи практики через середні та високі
                    категорії. <span>&nbsp; </span></p>

                <p><b>Хочете дізнатися більше про цю зростаючу кіберзагрозу? <span>&nbsp;</span>

                    </b></p>

                <p><span>Новий посібник з готовності до програм-вимагачів є відмінним початком. Посібник,
                        виданий у вересні 2020 року, представляє спільні зусилля між CISA та Мульти-Державним Центром
                        Обміну та Аналізу Інформації (MS-ISAC).</span><span>&nbsp;</span><span><a
                            href="https://www.cisa.gov/stopransomware/ransomware-guide" target="_blank"><span>Спільний
                                Посібник з готовності до
                                програм-вимагачів</span></a></span><span>&nbsp;</span><span>включає найкращі практики
                        галузі та
                        чекліст відповідей, який може слугувати як додаток до планів реагування на кіберінциденти
                        організації, специфічний для випадків вимагання викупу.</span></p>

                <p><span>У січні 2021 року CISA представила кампанію </span><span><a
                            href="https://www.cisa.gov/news/2021/01/21/cisa-launches-campaign-reduce-risk-ransomware"
                            target="_blank"><span>Зменшення ризику вимагання викупу</span></a></span><span>&nbsp;для
                        підвищення обізнаності та спонукання до дій для боротьби з цією постійною та змінюваною
                        загрозою. Кампанія є спрямованою, координованою та постійною ініціативою для підтримки
                        організацій громадського та приватного сектору у впровадженні найкращих практик, інструментів та
                        ресурсів, які допоможуть їм зменшити ризик вимагання викупу.</span></p>

                <p>Для власників та операторів критичної інфраструктури індустріальних контрольних систем CISA
                    опублікувала фактичний аркуш, <a
                        href="https://www.cisa.gov/sites/default/files/publications/CISA_Fact_Sheet-Rising_Ransomware_Threat_to_OT_Assets_508C.pdf"
                        target="_blank">Зростаюча загроза вимагання викупу для активів операційної техніки</a>, який
                    надає інформацію щодо зростаючого ризику вимагання викупу для ІТЗ та рекомендовані дії для зменшення
                    ризику стати жертвою та серйозної шкоди для бізнесу чи функціонального зниження, якщо це все ж
                    відбудеться.</p>

                <p><span>CISA також продовжує публікувати кібербезпечні сповіщення та поради, включаючи ті, які
                        стосуються вимагання викупу. Відвідайте </span><span><a
                            href="https://www.cisa.gov/ransomware-alerts-and-tips" target="_blank"><span>Сповіщення та
                                поради щодо вимагання викупу | CISA</span></a></span><span> та підписуйтесь на
                        них.</span></p>

                <p><br clear="all" /></p>

                <p><b><span>Склад оцінки готовності до вимагання викупу: цілі та практики

                        </span></b></p>

                <p>Ця оцінка представляє одну область, яка стосується вимагання викупу і складається з десяти цілей та
                    питань про практику, які стосуються кожної цілі.</p>

                <p>Практики мають рівні "Базовий", "Середній" та "Професіонал". Кожне питання має ідентифікатор з такою
                    структурою:</p>

                <p><b>Ціль</b> [ЦЦ]: <b>Рівень</b> [Б, С, П] . <b>Номер питання</b> [П##]</p>

                <p>Прикладом такої структури є <b>АМ:С.П03</b>, що представляє <b>Управління активами, рівень
                        "Середній", питання номер 3.

                    </b></p>

                <p>Синій еліпс під кожним ідентифікатором показує базовий, середній або професіональний рівень для
                    питання.</p>

                <p><span><img src="assets/images/RRA/tutorial/image001.png" alt="приклад показника рівня" /></span></p>

                <p>Практики та рівні (базовий, середній та професіональний) оцінки готовності до вимагання викупу
                    призначені для:</p>

                <ul>
                    <li>
                        допомогти організації розуміти її поточний стан готовності до загрози вимагання викупу
                    </li>
                    <li>
                        допомогти організації впровадити спрямований шлях для поліпшення.
                    </li>
                </ul>

                <p><b>Підхід до впровадження:</b></p>

                <ul>
                    <li>Організації, які не знайомі з вимаганнями викупу і мають намір почати базові кібергігієнічні
                        заходи для запобігання загрозам вимагання викупу, мають сконцентруватися на впровадженні
                        базового рівня практик.</li>
                    <li>Після завершення базового рівня можливостей для покращення організаційного ризику вимагання
                        викупу, організації, які бажають подальше поліпшення своєї позиції щодо ризику вимагання викупу,
                        повинні впроваджувати середній рівень практик.</li>
                    <li>Організації, які вже прийняли базові та середні рівні практик оцінки готовності до вимагання
                        викупу і прагнуть покращити свою реакцію на загрози вимагання викупу, мають зосередитися на
                        впровадженні практик у розрізі "Професіонал".</li>
                </ul>


                <p>Ця запропонована шлях поліпшення завжди може бути адаптована організацією відповідно до її власних
                    потреб.<span>&nbsp;</span><span>&nbsp;</span></p>

                <p>Кожне питання практики містить шкалу відповіді "так/ні" для оцінки того, чи впроваджено практику
                    організацією:</p>

                <p><span><img src="assets/images/RRA/tutorial/image004.png" alt="контроли відповідей так/ні" /></span>
                </p>

                <ul type="disc">
                    <li><b>Так</b>&nbsp;– організація повністю виконує вказану у питанні діяльність.</li>
                    <li><b>Ні</b>&nbsp;– організація не виконує діяльність повністю. </li>
                </ul>

                <p>Практики представлені у наступному форматі:</p>

                <p><span><img src="assets/images/RRA/tutorial/image006.png" alt="приклад формату питання"
                            [class.w-100]="layoutSvc.hp" /></span></p>

                <p><b><span><img src="assets/images/RRA/tutorial/image008.png" alt="Позначити для перевірки"
                                style="height:2rem" /></span><span><span>&nbsp; </span>Позначити для
                            перевірки</span></b>: Справа від ключа відповіді є значок прапорця, який можна
                    використовувати для позначення практики для подальшого перегляду. Позначені питання перераховуються
                    в звіті "Оцінка готовності до вимагання викупу та позначені для перегляду". В цьому розділі сторінки
                    звіту CSET (навігація зліва "Звіти") користувач може визвати будь-які практики, раніше позначені для
                    перегляду, разом із конкретними коментарями.</p>

                <p><span><img src="assets/images/RRA/tutorial/image009.jpg" alt="Значок Керівництва"
                            v:shapes="Picture_x0020_23" /></span><b><span>&nbsp;</span><span>&nbsp;
                        </span>Керівництво</b>: Для допомоги користувачеві RRA кожне питання супроводжується
                    керівництвом.&nbsp; Керівництво слід використовувати для отримання інформації про контекст, можливі
                    приклади та критерії, які визначають вимоги для відповіді "Так".&nbsp; Керівництво активується
                    вибором значка Керівництва з літерою "Г", розташованого нижче питання.</p>
                <p><span><img src="assets/images/RRA/tutorial/image011.jpg" alt="Значок Коментарів"
                            v:shapes="Picture_x0020_22" /></span><span>&nbsp; </span><b>Коментарі</b>: Вибір цього
                    значка відобразить текстове поле, яке можна використовувати для зауважень щодо кожного питання.
                    Наприклад, користувач оцінки може залишити примітку для подальшого посилання щодо обґрунтування "Ні"
                    відповіді. Примітка: ці коментарі не включаються в офіційний звіт і призначені бути конфіденційними
                    для ведучого.</p>
                <p>Практики з коментарями перераховуються в звіті "Оцінка готовності до вимагання викупу: коментарі та
                    позначені для перегляду". В цьому розділі сторінки звіту CSET (навігація зліва "Звіти") користувач
                    може викликати будь-які практики, раніше позначені для перегляду, разом із конкретними коментарями.
                </p>

                <p><span><img src="assets/images/RRA/tutorial/image013.jpg" alt="Значок Матеріалів/Документів"
                            v:shapes="Picture_x0020_21" /></span><span>&nbsp;
                    </span><b>Матеріали/Документи</b>: Легко пов'язувати, відстежувати і зберігати докази, матеріали та
                    інші додаткові документи під час оцінки. </p>
                <p>Ці документи зберігаються разом із оцінкою вкладки CSET під документами оцінки. <span><img
                            src="assets/images/RRA/tutorial/image014.png" alt="Інструменти"
                            style="height:2rem" /></span></p>

                <p><span><img src="assets/images/RRA/tutorial/image015.jpg" alt="Значок Посилань"
                            v:shapes="Picture_x0020_20" /></span><span>&nbsp; </span><b>Посилання</b>:
                    Вибір значка Посилань відобразить посилання.</p>
                <p><span><img src="assets/images/RRA/tutorial/image016.jpg" alt="Значок Спостережень"
                            v:shapes="Picture_x0020_19" /></span><span>&nbsp; </span><b>Спостереження</b>:
                    Вибір цього значка відобразить діалогове вікно деталей спостереження, призначене для збору
                    інформації про проблему, пов'язану з практикою, а також її важливість, дату розв'язання тощо.</p>
                <p><span><img src="assets/images/RRA/tutorial/image018.jpg" alt="Значок Зворотнього зв'язку"
                            v:shapes="Picture_x0020_18" /></span><span>&nbsp; </span><b>Зворотній зв'язок</b>:
                    Використовується для подачі зворотного зв'язку щодо питання CISA. Наприклад, користувач може
                    залишити коментар, що запитання занадто складне і запропонувати альтернативний текст.</p>

            </div>
        </div>

    </mat-dialog-content>


    <mat-dialog-actions class="p-4 mb-0">
        <button class="btn btn-secondary" (click)="close()">OK</button>
    </mat-dialog-actions>
</div>