<!----------------------

   Copyright 2023 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a tutorial">
  <h3 class="wrap-text mb-3">CMMC Підручник</h3>






  <article>
    <div class="description_on_page">
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <div class="ic">
          <h4>1. CMMC 2.0 Підручник для CSET® </h4>
        </div>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h6>Огляд</h6>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Структура CMMC складається з вимог безпеки з NIST SP 800-171 Rev 2, Захист контрольованої несекретної інформації
        в нефедеральних системах і організаціях, і підмножини вимог з NIST SP 800-172, Розширені вимоги безпеки для
        захисту контрольованої несекретної інформації: A Додаток до спеціальної публікації NIST 800-171. Структура
        моделі організовує ці практики в набір доменів, які безпосередньо відображаються в сімействах NIST SP 800-171
        Rev 2. У CMMC є три рівні: рівень 1, рівень 2 і рівень 3, як описано в розділах нижче.</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h6>Рівні CMMC</h6>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Модель CMMC вимірює
        впровадження вимог кібербезпеки на трьох рівнях. Кожен рівень складається з набору практик CMMC:
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        • &#160; &#160; Рівень 1: Охоплює основні вимоги щодо безпеки для FCI, визначені в пункті 52.204-21 FAR.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Рівень 2: охоплює вимоги безпеки для CUI, визначені в NIST SP 800-171 Rev 2 відповідно до пункту 252.204-7012
        DFARS [3, 4, 5].
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        • &#160; &#160; Рівень 3: Інформація про рівень 3 буде опублікована пізніше та міститиме підмножину вимог
        безпеки, визначених у NIST SP 800-172 [6].
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Рівні CMMC і відповідні набори практик у різних доменах є сукупними. Точніше, щоб організація досягла певного
        рівня CMMC, вона також повинна продемонструвати досягнення попередніх нижчих рівнів. У випадку, коли організація
        не відповідає цільовому рівню, вона буде сертифікована на найвищому рівні, для якого вона досягла всіх
        застосовних практик.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h6>CMMC 2.0 Огляд</h6>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        На рисунку 1 представлено огляд рівнів CMMC 2.0.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_39C5419E79"><img alt="" style="border: solid 0px; width: 800px" class="h-auto"
            [class.w-100]="layoutSvc.hp" src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_2.png"
            data-full-width="2254" data-full-height="968" /></span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <strong>
          Рисунок 1. Огляд рівня CMMC 1.0 до 2.0
        </strong>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h6>
          CMMC Рівень 1
        </h6>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Практики: базові
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Рівень 1 зосереджується на захисті FCI і складається лише з практик, які відповідають основним вимогам захисту,
        зазначеним у 48 CFR 52.204-21, який зазвичай називають пунктом FAR [3].
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h6>
          CMMC Рівень 2
        </h6>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Практики: просунуті
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Рівень 2 зосереджений на захисті CUI і охоплює 110 вимог безпеки, визначених у NIST SP 800-171 Rev 2 [4].
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h6>
          CMMC Рівень 3
        </h6>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Практики: Експерт
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Рівень 3 базуватиметься на підмножині вимог NIST SP 800-172 [6]. Деталі будуть оприлюднені пізніше.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h6>
          Домени CMMC
        </h6>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Модель CMMC складається з 14 доменів, які відповідають сімействам, зазначеним у NIST SP 800-171. Ці домени та їх
        абревіатури такі:
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Управління доступом (УД)</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Обізнаність &amp; Навчання (ОН)</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Аудит &amp; Підзвітність (АП)</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Управління конфігурацією (УК)</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Ідентифікація &amp; Аутентифікація (ІА)</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Реагування на інцидент (РІ)</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Технічне обслуговування (ТО)</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Захист медіа (ЗМ)</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Безпека персоналу (БП)</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Фізичний захист (ФЗ)</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Оцінка ризиків (ОР)</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Оцінка безпеки (ОБ)</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Захист систем і комунікацій (СК)</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Цілісність системи та інформації (СІ)</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h6>
          Практики CMMC
        </h6>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h6>
          Огляд
        </h6>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Модель CMMC вимірює виконання вимог безпеки NIST SP 800-171 Rev 2 [4]. Практика походить від вимог щодо захисту
        та вимог безпеки, визначених у FAR, пункт 52.204-21 [3] і DFARS, пункт 252.204-7012 [5], відповідно.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Рівень 1 еквівалентний усім вимогам щодо захисту з FAR, пункт 52.204-21. </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Рівень 2 еквівалентний усім вимогам безпеки в NIST SP 800-171 Revision 2.</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        Рівень 3 базуватиметься на підмножині NIST SP 800-172, а більш детальна інформація буде опублікована пізніше.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h6>Список практик</h6>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">У цьому підрозділі
        перераховано практики для кожного домену та на кожному рівні. Кожна практика має ідентифікаційний номер практики
        у форматі - <strong>DD.L#-REQ</strong> - де:</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160; DD —
        двобуквена абревіатура домену;
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160;
        L#число рівня
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">• &#160; &#160; REQ —
        номер вимоги безпеки NIST SP 800-171 Rev 2 або NIST SP 800-172.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">Під ідентифікаційним
        номером надається короткий ідентифікатор назви для кожної практики, призначений для використання лише для
        швидкого ознайомлення. Нарешті, кожна практика має повний опис практики.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h4>2. Визначення обсягу</h4>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h6>Обсяг самооцінки рівня 1</h6>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Перед самооцінкою 1-го рівня сертифікації моделі зрілості кібербезпеки (CMMC) підрядник
        має вказати обсяг самооцінки CMMC. Обсяг самооцінки CMMC інформує, які активи в середовищі підрядника буде
        оцінено, а також деталі самооцінки.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><strong>FCI
          Активи</strong></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Федеральна інформація про контракти (FCI) обробляє, зберігає або передає FCI таким чином:
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">•&#160; &#160; &#160;
        Обробка – FCI може використовуватися активом (наприклад, отримати доступ, ввести, відредагувати, створити,
        обробити або надрукувати).</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">•&#160; &#160; &#160;
        Зберігання – FCI неактивний або перебуває в стані спокою на ресурсі (наприклад, розміщеному на електронному
        носії, у пам’яті системного компонента або у фізичному форматі, як-от паперові документи).</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">•&#160; &#160; &#160;
        Передача – FCI передається від одного активу до іншого (наприклад, дані під час передачі за допомогою фізичних
        або цифрових методів транспортування).</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">Активи FCI є частиною
        сфери самооцінки CMMC і оцінюються відповідно до застосовної практики CMMC.</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Додаткову інформацію про область застосування CMMC 2.0 рівня 1 можна знайти в <a
          href="{{documentURL('CMMC_Scope_Level1_V2.0_FINAL_20211203.pdf')}}" target="_blank">
          CMMC Self-Assessment Scope Level 1 версія 2.0 грудень 2021.</a>.</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Додаткові вказівки щодо діяльності з визначення обсягу 1 рівня</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Щоб відповідним чином охопити самооцінку CMMCLevel 1, підрядник повинен враховувати людей, технології, засоби та
        зовнішніх постачальників послуг у своєму середовищі, які обробляють, зберігають або передають FCI.</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h6>Обсяг рівня 2</h6>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><strong>Визначення
          сфери оцінки CMMC </strong></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Для вказівок щодо <a href="{{documentURL('CMMC_Scope_Level2_V2.0_FINAL_20211203.pdf')}}" target="_blank"> обсягу
          CMMC 2.0 обсяг самооцінки CMMC, рівень 2, версія 2.0, грудень 2021 р.</a>, надає інформацію
        про категоризацію активів, яка, у свою чергу, інформує про специфікацію обсягу оцінки для оцінки сертифікації
        моделі зрілості кібербезпеки (CMMC). У посібнику з визначення обговорюються категорії активів CMMC, а також
        відповідні вимоги до підрядників оборонно-промислової бази (DIB) і оцінки CMMC.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <strong>
          Категорії активів CMMC
        </strong>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <a href="{{documentURL('CMMC_AG_Level1_V2.0_Final_20211210.pdf')}}" target="_blank">Посібник з оцінки CMMC,
          рівень 2, версія 2.0, грудень 2021 року</a>, розподіляє активи підрядників на одну з п’яти
        категорій. <strong>Таблиця 1 у Посібнику</strong> з оцінки описує кожну категорію активів, вимоги до підрядника
        та вимоги до оцінки. Додаткова інформація про кожну категорію активів надається в наступних розділах.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_229A7A25DA"><strong>Визначення обсягу оцінки CMMC</strong></span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Після класифікації своїх активів підрядник визначає обсяг оцінки CMMC. Перегляньте <a
          href="{{documentURL('CMMC_AG_Level2_V2.0_Final_20211210.pdf')}}" target="_blank">CMMC Self-Assessment Scope
          Level 2 Version 2.0 грудень 2021</a> для подальших кроків у процесі визначення обсягу.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h4>3. Навігація в оцінюванні</h4>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h5>Розклад практичних запитань CMMC</h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C"><img alt="Image of the various components of the CSET tool with annotations."
            style="border: solid 1px; width: 776px" class="h-auto" [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_3.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_4.png"
            data-full-width="2208" data-full-height="862" /></span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><img alt=""
          style="border: solid 0px;  float: left; " width="40" height="40" class="de_custom_img de_780D01ADE8"
          src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_5.png" />
        <h5>Домен і акронім домену</h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img alt=""
          style="border: solid 0px;  " width="150" height="22" class="de_custom_img de_780D01ADE8"
          src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_6.png"
          data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_7.png"
          data-full-width="352" data-full-height="52" /></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><img alt=""
          style="border: solid 0px;  float: left; " width="40" height="40" class="de_custom_img de_780D01ADE8"
          src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_8.png" />
        <h5>Ідентифікатор практики</h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img alt=""
          style="border: solid 0px;  " width="150" height="39" class="de_custom_img de_780D01ADE8"
          src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_9.png"
          data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_9.png"
          data-full-width="192" data-full-height="50" /></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Кожна практика має ідентифікаційний номер практики у форматі - DD.L#-REQ- де:
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_1376058C6C">• &#160; &#160; &#160; DD двобуквена абревіатура домену;</span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_1376058C6C">• &#160; &#160; &#160; L# номер рівня;</span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_1376058C6C">номер вимоги безпеки NIST SP 800-171 Rev 2 або NIST SP 800-172.</span>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><img alt=""
          style="border: solid 0px;  float: left; " width="40" height="40" class="de_custom_img de_780D01ADE8"
          src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_10.png" />
        <h5>Індикатор рівня</h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img alt=""
          style="border: solid 0px;  " width="100" height="33" class="de_custom_img de_780D01ADE8"
          src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_11.png" /></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Вказує на відповідний
        рівень, пов’язаний із твердженням практики. CMMC забезпечує орієнтир, за яким організація може оцінити поточний
        рівень можливостей своїх процесів, практик і методів і встановити цілі та пріоритети для вдосконалення.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><img alt=""
          style="border: solid 0px;  float: left; " width="40" height="40" class="de_custom_img de_780D01ADE8"
          src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_12.png" />
        <h5>CSET іконки</h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img alt=""
          style="border: solid 0px; width: 400px" class="h-auto" [class.w-100]="layoutSvc.hp"
          src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_13.png"
          data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_14.png"
          data-full-width="834" data-full-height="80" /></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">
        У розділі піктограм CSET нижче ви знайдете розбивку кожної піктограми CSET і те, як вони допомагають полегшити
        оцінювання CMMC.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><img alt=""
          style="border: solid 0px;  float: left; " width="40" height="40" class="de_custom_img de_780D01ADE8"
          src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_15.png" />
        <h5>Результати оцінювання (CSET Answer Key)</h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img alt=""
          style="border: solid 0px;  " width="200" height="53" class="de_custom_img de_780D01ADE8"
          src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_16.png"
          data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_17.png"
          data-full-width="434" data-full-height="116" /></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">
        Нижче наведено повну розбивку результатів оцінювання CMMC (ключ відповіді CSET).
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><img alt=""
          style="border: solid 0px;  float: left; " width="40" height="40" class="de_custom_img de_780D01ADE8"
          src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_18.png" />
        <h5>Індикатор прогресу</h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;"><img alt=""
          style="border: solid 0px;  " width="50" height="49" class="de_custom_img de_780D01ADE8"
          src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_19.png" /></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 50px; text-indent: 0px;">
        Індикатор прогресу стане синім і заповнить коло, коли буде виконано запитання в кожній області можливостей. Коли
        всі запитання буде виконано, індикатор прогресу покаже позначку.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><img
          alt="Image of the Yes Icon answer choice." style="border: solid 0px;  " width="53" height="40"
          class="de_custom_img de_780D01ADE8"
          src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_20.png" /><strong>ВІДПОВІДАЄ</strong>
        представлено як <strong>Так</strong> в
        інструменті оцінювання CSET. Підрядник успішно відповідає практиці. Для кожної практики, позначеної як MET,
        оцінювач включає твердження, які вказують на те, що відповідь відповідає цілям, і документує відповідні докази
        на підтримку відповіді. </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Для <strong>ВІДПОВІДАЄ (Так)</strong> оцінювач може використовувати поле <strong>Спостереження</strong> для
        запису відповідних спостережень.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C"><img alt="" style="border: solid 1px; width: 600px" class="h-auto"
            [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_21.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_22.png"
            data-full-width="1866" data-full-height="290" /></span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C"><img alt="Image of the No Icon answer choice." style="border: solid 0px;  " width="50"
            height="41" class="de_custom_img de_780D01ADE8"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_23.png" />
            <strong>НЕ ВІДПОВІДАЄ</strong> представлено як <strong>НІ</strong> в інструменті оцінки CSET. Підрядник не
            дотримався практики. Для кожної
            практики, позначеної НЕ ВІДПОВІДАЄ, оцінювач включає заяви, які пояснюють, чому, і документує відповідні
            докази того, що підрядник не відповідає цілям.
        </span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C">Для <strong>НЕ ВІДПОВІДАЄ</strong> <strong>(Ні)</strong> оцінювач може використовувати
          поле <strong>Спостереження</strong> для запису відповідних спостережень.</span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C"><img alt="" style="border: solid 1px; width: 600px" class="h-auto"
            [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_24.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_25.png"
            data-full-width="1875" data-full-height="255" /></span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C">&#160;</span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C"><img alt="" style="border: solid 0px;  " width="50" height="47"
            class="de_custom_img de_780D01ADE8"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_26.png" /><strong>&#160;НЕ
            ЗАСТОСУЄТЬСЯ</strong> вказує на те, що практика не застосовується до підрядника. Для кожної практики,
          позначеної НЗ, оцінювач повинен включити заяву, яка пояснює, чому практика не стосується підрядника.&#160;
        </span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C">Коментарі оцінювача можуть бути записані в полі <strong>Спостереження</strong> на панелі
          піктограм CSET.</span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h5>Позначити для перегляду</h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C">Функція <strong>Позначити для перегляду</strong> дозволяє користувачеві позначити
          практичне запитання для подальшого перегляду. </span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C"><img alt="" style="border: solid 1px;  " width="200" height="100"
            class="de_custom_img de_780D01ADE8"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_27.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_28.png"
            data-full-width="630" data-full-height="316" /></span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h4>3.1 CMMC 2.0 Компоненти оцінювання в CSET®</h4>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h5>Додаткові вказівки</h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C">Користувачі можуть звернутися до допоміжних органів і отримати додаткові вказівки в
          розділі <strong>Додаткові вказівки</strong>.</span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_C40D65A6EB"><strong>ПРИМІТКА: &quot;ДОДАТКОВІ ВКАЗІВКИ&quot; розділ нижче Інструкції NIST SP 800-171A
            взяті з попередньої інструкції CMMC 1.02 лише для інформаційних цілей. Його буде оновлено, коли публікації
            CMMC 2.0 стануть доступними.</strong></span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C"><img alt="" style="border: solid 1px; width: 600px" class="h-auto"
            [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_29.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_30.png"
            data-full-width="1848" data-full-height="1383" /></span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h5>Коментарі </h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Функція коментарів
        дозволяє експерту записувати неструктуровані коментарі до кожного запитання під час оцінювання. На противагу
        цьому функція «Спостереження» (також корисна для коментування) є більш жорсткою та містить обов’язкові поля.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h5><img alt="" style="border: solid 1px; width: 600px" class="h-auto" [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_31.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_32.png"
            data-full-width="1835" data-full-height="533" /></h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h5>Артефакти/Документи </h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">Оцінювач може
        використовувати функцію Артефакти/Документи, щоб додавати відповідні докази до кожного практичного запитання.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h5><img alt="" style="border: solid 1px; width: 600px" class="h-auto" [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_33.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_34.png"
            data-full-width="1835" data-full-height="619" /></h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h5>Прикріплені Артефакти/Документи</h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Документи відображатимуться в списку за іменами файлів під запитанням, якщо їх буде вкладено. Червоний
        індикатор з’явиться на піктограмі для кожного запитання, до якого додано докази.</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h5><img alt="" style="border: solid 1px; width: 600px" class="h-auto" [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_33.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_34.png"
            data-full-width="1835" data-full-height="619" /></h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h5>Зберігання прикріплених документів</h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C">Доступ до вкладених документів, артефактів і доказів у меню <strong><img alt=""
              style="border: solid 0px;  " width="40" height="31" class="de_custom_img de_780D01ADE8"
              src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_35.png" /></strong>
          інструментів поруч із логотипом CSET у верхньому лівому куті екрана. </span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C"><img alt="Image shows the Assessment Documents location under the Tools menu."
            style="border: solid 0px; width: 400px" class="h-auto" [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_36.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_37.png"
            data-full-width="1135" data-full-height="985" /></span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C">На вкладці «Документи оцінювання» відкриється спливаюче вікно з усіма документами,
          доданими до оцінювання. Документи впорядковано за назвами.</span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C"><img alt="" style="border: solid 1px; width: 600px" class="h-auto"
            [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_38.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_39.png"
            data-full-width="2390" data-full-height="1552" /></span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h5>Посилання </h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Користувачі можуть натиснути піктограму <strong>Посилання</strong>, щоб відкрити посилання на документацію CMMC
        у форматі PDF. Документи відкриються в окремому вікні.&#160; Ці документи також можна знайти в <a
          href="/resource-library" target="_blank">бібліотеці ресурсів CSET.</a></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C"><img alt="" style="border: solid 1px; width: 600px" class="h-auto"
            [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_40.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_41.png"
            data-full-width="1833" data-full-height="942" /></span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h5>Спостереження </h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">Піктограма
        «Спостереження» відкриває спливаюче вікно, яке дозволяє оцінювачу записувати свої спостереження для кожного
        навчального запитання. </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h5><img alt="" style="border: solid 1px; width: 600px" class="h-auto" [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_42.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_43.png"
            data-full-width="1842" data-full-height="682" /></h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">Коли користувач
        вводить свої спостереження, червоний індикатор висвітлює піктограму, а спостереження перераховуються під
        практичним запитанням у порядку введення. </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h5>Спливаюче вікно з інформацією про спостереження:</h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">Після вибору
        піктограми спостережень з’явиться екран подробиць спостережень.</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h5><img alt="" style="border: solid 1px; width: 600px" class="h-auto" [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_44.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_45.png"
            data-full-width="1981" data-full-height="1376" /></h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h5>Зворотній зв'язок</h5>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">Користувачі можуть
        записувати відгуки під час оцінювання для подання до CSET/CISA. Деякі приклади надісланого відгуку включають
        коментарі щодо предмета запитання, структури запитання та способів покращення запитання та макета. </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_67BC475A8E"><img alt="" style="border: solid 1px; width: 600px" class="h-auto"
            [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_46.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_47.png"
            data-full-width="1832" data-full-height="400" /></span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h4>3.2 Результати </h4>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h4><img alt="Image shows the Results tab selected." style="border: solid 1px; width: 350px" class="h-auto"
            [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_48.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_49.png"
            data-full-width="760" data-full-height="96" /></h4>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">CMMC представляє
        результати оцінювання з наступними параметрами навігації на бічній панелі:</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><img alt=""
          style="border: solid 1px;  " width="200" height="450" class="de_custom_img de_780D01ADE8"
          src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_50.png"
          data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_51.png"
          data-full-width="579" data-full-height="1302" /></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">Малюнок: бічна панель
        навігації, на якій показано параметри результатів CMMC 2.0.</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C">Основними результатами оцінки CMMC 2.0 є <strong>Ефективність за рівнем</strong>,
          <strong>Ефективність за доменом</strong> та інтерпретація <strong>NIST 800-171A SPRS</strong> на основі 110
          вимог NIST 800-171. Щоб дізнатися більше про функції CMMC Результати та Звіт, відвідайте розділ
          <strong>Результати</strong> та <strong>Звіт</strong> посібника користувача CMMC. Щоб дізнатися більше про
          методологію оцінки NIST SPRS, представлену в розділі <strong>Результати</strong>, перегляньте </span>
        <a href="{{documentURL('NIST SP 800-171 Assessment Methodology Version 1.2.1  6.24.2020.pdf')}}"
          target="_blank">NIST SP 800-171 Методологія оцінювання DoD, версія 1.2.1.</a>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C"><img alt="" style="border: solid 1px; width: 400px" class="h-auto"
            [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_52.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_53.png"
            data-full-width="935" data-full-height="1396" /></span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C">Рисунок: продуктивність за рівнем</span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C"><img alt="" style="border: solid 1px; width: 600px" class="h-auto"
            [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_54.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_55.png"
            data-full-width="1898" data-full-height="1124" /></span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C">Рисунок: Продуктивність за доменом</span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C"><img alt="" style="border: solid 1px; width: 600px" class="h-auto"
            [class.w-100]="layoutSvc.hp"
            src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_56.png"
            data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_57.png"
            data-full-width="2512" data-full-height="1661" /></span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_D8BCB2AC4C">Малюнок: Система показників SPRS </span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h4>3.3 Звіти</h4>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        Цей розділ містить <strong>Виконавчий підсумковий звіт, Звіт про недоліки</strong> та
        <strong>Коментарі/запитання, позначені для перегляду</strong> <strong>Звіт</strong>специфічний для CMMC 2.0.
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><img alt=""
          style="border: solid 1px; width: 600px" class="h-auto" [class.w-100]="layoutSvc.hp"
          src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_58.png"
          data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_59.png"
          data-full-width="2544" data-full-height="1317" /></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h4>4. Надіслати відгук</h4>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">Наприкінці оцінювання
        користувачам пропонується надіслати свої відгуки щодо оцінювання CSET.</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_67BC475A8E"><strong><img alt="" style="border: solid 1px; width: 600px" class="h-auto"
              [class.w-100]="layoutSvc.hp"
              src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_60.png"
              data-full-src="assets/images/CMMC/tutorial2/drex_cmmc_2_0_tutorial_for_cset___custom_61.png"
              data-full-width="2371" data-full-height="1224" /></strong></span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">
        <h6>Посилання</h6>
      </div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_1376058C6C">1.&#160; Виконавчий офіс президента США, Рада економічних радників (CEA). Ціна
          зловмисної кіберактивності для економіки США, доступна онлайн за адресою
          https://www.whitehouse.gov/wp-content/uploads/2018/02/The-Cost-of-Malicious Cyber-Activity-to-the-U.S.
          -Economy.pdf, лютий 2018</span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_1376058C6C">2.&#160; Центр стратегічних і міжнародних досліджень (CSIS) і McAfee, Економічний вплив
          кіберзлочинності – Не сповільнюється, лютий 2018 р.</span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_1376058C6C">3.&#160; 48 Кодекс федеральних правил (CFR) 52.204-21, Базовий захист інформаційних
          систем підрядників, Федеральний регламент закупівель (FAR), 1 жовтня 2016 р.</span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_1376058C6C">4.&#160; Спеціальна публікація NIST (SP) 800-171 Revision (Rev) 2, Захист контрольованої
          несекретної інформації в нефедеральних системах і організаціях, Національний інститут стандартів і технологій
          Міністерства торгівлі США (NIST), грудень 2016 р. (оновлено червень 2018 р.)</span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_1376058C6C">5.&#160; DFARS 252.204-7012, Захист закритої оборонної інформації та звітування про
          кіберінциденти, жовтень 2016 р.</span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;"><span
          class="de_1376058C6C">6.&#160; NIST SP 800-172, Посилені вимоги безпеки для захисту контрольованої несекретної
          інформації: Доповнення до спеціальної публікації NIST 800-171, Національний інститут стандартів і технологій
          Міністерства торгівлі США (NIST), лютий 2021 р.</span></div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>
      <div class="p" style="text-align: left; direction: ltr; margin-left: 0px; text-indent: 0px;">&#160;</div>


      <app-nav-back-next [page]="'tutorial-cmmc2'" [hide]="'back'"></app-nav-back-next>
    </div>