<!----------------------

   Copyright 2023 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="advisory-dialog d-flex flex-column justify-content-center flex-11a">
  <div class="mat-dialog-header p-3 d-flex justify-content-start align-items-center flex-00a">
    <span class="mr-3 fs-base-6 cset-icons-advisory"></span>
    <span>Примітка INL щодо конфіденційності та доступності</span>
  </div>

  <mat-dialog-content class="p-3 pr-0 mt-2 oy-auto d-flex flex-column flex-11a">
    <div class="px-3">
      <h2>Доступність</h2>
      <p>
        Організація зобов'язується зробити свої електронні та інформаційні технології доступними для осіб з інвалідністю
        відповідно до Розділу 508 Закону про реабілітацію (29 U.S.C. 794d), як він був поправлений в 1998 році.
        Надсилайте відгуки або питання, пов'язані з доступністю цього веб-сайту, на поштову скриньку координатора
        розділу 508 Департаменту енергетики (DOE).
      </p>

      <h2>Повідомлення про конфіденційність</h2>
      <h3>Вступ</h3>
      <p>
        У цьому повідомленні про конфіденційність описано особисту та приватну інформацію, яку Battelle Energy Alliance
        (BEA) збирає з або про дані оцінки CSET, як ця інформація використовується та кому ця інформація може бути
        розголошена.
      </p>

      <h3>Інформація, яку ми автоматично збираємо та зберігаємо </h3>
      <p>
        Ми можемо збирати певну інформацію автоматично під час користування нашими сайтами, таку як ваш IP-адреса,
        ідентифікатори пристроїв, тип браузера, операційну систему, постачальника послуг Інтернету, дату та час вашого
        візиту, про посилання, на які ви клікнули, сторінки, які ви переглянули, загальний спосіб, яким ви навігуєте
        сайтами, а також іншу стандартну інформацію журналу сервера. Ми також можемо збирати певну інформацію про
        місцезнаходження, коли ви використовуєте наші сайти, таку як IP-адреса вашого комп'ютера.
      </p>

      <h3>Надсилання особистої або конфіденційної інформації </h3>
      <p>
        Якщо ви вирішите надати нам особисту інформацію - надсилаючи нам електронного листа або заповнюючи онлайн-форму
        з особистою інформацією та надсилаючи її нам через наш веб-сайт - будь ласка, знайте, що ми можемо
        використовувати цю інформацію для:
      </p>
      <ul>
        <li>Відповіді на ваше повідомлення </li>
        <li>Допомоги в зборі питаної інформації. </li>
      </ul>

      <p>
        Ми не створюємо індивідуальні профілі з наданою вами інформацією. Ми не збираємо інформацію для комерційних
        цілей. Однак матеріал, який ви надсилаєте, може бути переглянуто різними людьми та зібрано, такими як:
      </p>
      <ul>
        <li>Ми можемо внести надану вами інформацію до нашої електронної бази даних. </li>
        <li>Поділитися нею з працівниками INL.</li>
        <li>Ми також можемо поділитися нею з Державним департаментом енергетики США або іншими урядовими установами та
          сторонами, які мають інтерес до діяльності та місії INL. </li>
      </ul>

      <p>
        Онлайн-форми, надіслані з домену {{ data.publicDomainName }}, використовують технологію TLS (Transport Layer
        Security) для шифрування переданих даних. Електронні листи та онлайн-форми, які не є частиною домену {{
        data.publicDomainName }}, не є безпечними від перехоплення, і відправники не можуть розраховувати на
        конфіденційність. Хоча ми вважаємо безпечний метод за переважний метод для електронного надсилання
        бізнес-інформації або особистої інформації, ми не можемо гарантувати безпеку будь-якого електронного передавання
        даних.
      </p>

      <h3>Загальна відмова від відповідальності</h3>
      <p>
        Щодо інформації з цього сервера, Battelle Energy Alliance (BEA) та жоден з їхніх працівників не надає жодних
        гарантій, зрозумілих чи не зрозумілих, включаючи гарантії придатності для продажу та відповідності певної мети,
        або не припускає ніякої правової відповідальності чи відповідальності за точність, повноту чи корисність
        будь-якої такої інформації, або будь-якого приладу, продукту чи процесу, які були розкриті, чи заявляє, що їх
        використання не порушить прав власності. Звертання до будь-якого конкретного комерційного продукту, процесу або
        послуги за торговою назвою, товарним знаком, виробником або іншим чином необов'язково становить або
        підтвердження, або рекомендацію, або підтримку союзу BEA.
      </p>

      <h3>Посилання на інші сайти</h3>
      <p>
        Цей веб-сайт має посилання на інші федеральні агентства та приватні організації. Як тільки ви перейдете на ці
        сайти, ви підпадаєте під повідомлення про конфіденційність нового сайту.
      </p>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="p-3 pt-0 mb-0 d-flex justify-content-start flex-00a">
    <button class="btn btn-secondary" (click)="close()">OK</button>
  </mat-dialog-actions>
</div>