<!---------------------- 

   Copyright 2023 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a tutorial">
    <h3 class="wrap-text mb-3">Посібник із готовності до програм-вимагачів</h3>
    <div>
        <p>Програмне забеспечення-вимагач - це вид шкідливих програм, що постійно змінюється, який призначений для
            шифрування файлів на пристрої, що робить будь-які файли та системи, які на них ґрунтуються, непридатними для
            використання. Злочинні елементи потім вимагають викуп в обмін на розшифрування. </p>

        <p>Злочинні елементи продовжують адаптувати та розвивати свої тактики програмних засобів-вимагачів з часом, і
            аналітики CISA залишаються пильними в підтримці усвідомленості про випадки програм-вимагачів, а також
            пов'язані тактики, методи та процедури по всій країні та по всьому світу. </p>

        <p>Ця Оцінка готовності до програм-вимагачів (RRA) допоможе вам зрозуміти ваш постій безпеки щодо постійно
            зростаючої загрози програмного забеспечення-вимагача. RRA також надає чіткий шлях для вдосконалення та
            містить постійне просування питань, розподілених за категоріями - базовою, середньою та високою. Це
            призначено для того, щоб допомогти організації покращуватися, спочатку зосереджуючись на основах, а потім
            просуваючися, впроваджуючи практики через середні та високі категорії. <span>&nbsp; </span></p>

        <p><b>Бажаєте дізнатися більше про цю зростаючу кіберзагрозу? <span>&nbsp;</span></b></p>

        <p><span>Новий посібник з готовності до програм-вимагачів - це відміне місце для початку. Посібник, виданий у
                вересні 2020 року, представляє спільний зусилля між CISA та Центром обміру та аналізу інформації
                багатьох держав (MS-ISAC).
            </span><span>&nbsp;</span><span><a href="https://www.cisa.gov/stopransomware/ransomware-guide"
                    target="_blank"><span>Спільний посібник з готовності до
                        програм-вимагачів</span></a></span><span>&nbsp;</span><span>включає в себе найкращі практики
                галузі та
                чеклист відповіді, який може служити додатком до планів відповіді на кіберінциденти організації.&nbsp;
            </span></p>

        <p><span>У січні 2021 року CISA&nbsp;представила&nbsp;</span><span><a
                    href="https://www.cisa.gov/news/2021/01/21/cisa-launches-campaign-reduce-risk-ransomware"
                    target="_blank"><span>Кампанію зменшення ризику вимагання викупу</span></a></span><span>&nbsp;з
                метою підвищення усвідомленості та спонукання до дій у боротьбі з цією&nbsp;постійною і зростаючою
                загрозою. Кампанія є спрямованим, координованим і постійним зусиллям для підтримки організацій
                громадського та приватного секторів у впровадженні найкращих практик, інструментів
                та ресурсів, які можуть допомогти їм зменшити ризик вимагання викупу.

            </span></p>

        <p>Для власників та операторів критичної інфраструктури систем керування промисловими об'єктами CISA
            опублікувала Фактичний Звіт, <a
                href="https://www.cisa.gov/sites/default/files/publications/CISA_Fact_Sheet-Rising_Ransomware_Threat_to_OT_Assets_508C.pdf"
                target="_blank">Зростаюча загроза вимагання викупу для активів операційної технології</a>,
            який містить інформацію щодо зростаючого ризику вимагання викупу для систем керування промисловими об'єктами
            і рекомендації щодо зменшення ризику стати жертвою, а також важкого впливу на бізнес чи функціональність у
            разі потрапляння в жертву.</p>

        <p><span>CISA також продовжує публікувати кібернетичні попередження та поради, включаючи ті, які стосуються
                вимагання викупу.
                Відвідайте </span><span><a href="https://www.cisa.gov/ransomware-alerts-and-tips"
                    target="_blank"><span>Попередження та поради щодо вимагання викупу | CISA</span></a></span><span> та
                натисніть "Підписатися".

            </span></p>
        <span><br clear="all" /> </span>

        <p><b><span>Складання оцінки готовності до вимагання викупу: Цілі та практики</span></b></p>

        <p>Ця оцінка представляє одну домену, яка стосується вимагання викупу і побудована на основі десяти цілей та
            практик, які стосуються кожної цілі.</p>

        <p>Практики поділені на рівні: Базовий, Проміжний та Високий. Кожне питання має ідентифікатор, структурований
            наступним чином:</p>

        <p><b>Ціль</b> [ЦЦ] : <b>Рівень</b> [Б,П,В] . <b>Номер питання</b> [П##] </p>

        <p>Приклад структури вище: <b>AM:I.Q03</b>, який представляє <b>Управління активами, Рівень “Проміжний,” Питання
                номер 3.

            </b></p>

        <p>Синій овал під кожним ідентифікатором показує Базовий, Проміжний або Високий рівень для питання.
        </p>

        <p><span><img src="assets/images/RRA/tutorial/image001.png" alt="Приклад індикатора рівня" /></span></p>

        <p>Практики та рівні (базовий, проміжний і високий) в оцінці готовності до вимагання викупу розроблені з такими
            цілями:</p>

        <ul>
            <li>
                допомогти організації
                зрозуміти її поточний рівень готовності до вирішення загрози вимагання викупу
            </li>
            <li>
                допомогти організації
                впровадити спрямований шлях для поліпшення.
            </li>
        </ul>


        <p><b>Підхід до впровадження:</b></p>

        <ul>
            <li>Організації, які незнайомі з вимаганнями викупу і мають намір розпочати базові заходи кібергігієни для
                захисту від загроз вимагання викупу, мають зосередитися на впровадженні базового рівня практик.</li>

            <li>Після завершення базового рівня
                зусиль з покращення, організації, які бажають подальше покращити своє становище стосовно вимагання
                викупу, повинні впроваджувати практики середнього рівня.</li>

            <li>Організації, які вже
                прийняли практики рівнів базового та середнього рівня оцінки готовності до вимагання викупу і бажають
                покращити свою реакцію на загрози вимагання викупу, мають зосередитися на впровадженні практик вищого
                рівня.</li>
        </ul>

        <p>Цей запропонований шлях до покращення завжди може бути адаптований організацією, щоб відповідати її власним
            потребам.<span>&nbsp;
            </span><span>&nbsp;</span></p>

        <p>Кожне питання щодо практики містить шкалу відповіді "так/ні" для оцінки того, чи була практика впроваджена
            організацією:</p>

        <p><span><img src="assets/images/RRA/tutorial/image004.png" alt="контроль відповіді так/ні" /></span></p>

        <ul type="disc">
            <li><b>Так</b>&nbsp;– організація повністю виконує вказану в питанні діяльність.</li>
            <li><b>Ні</b>&nbsp;– організація не виконує діяльність повністю. </li>
        </ul>

        <p>Практики представлені у наступному форматі:</p>

        <p><span><img src="assets/images/RRA/tutorial/image006.png" alt="приклад формату питання"
                    [class.w-100]="layoutSvc.hp" /></span></p>

        <p><b><span><img src="assets/images/RRA/tutorial/image008.png" alt="Позначка для перегляду"
                        style="height:2rem" /></span><span><span>&nbsp; </span>Позначка для
                    перегляду</span></b>: Справа від ключа відповіді є значок прапорця, який можна використовувати для
            позначення
            практики
            для подальшого перегляду. Позначені питання перераховані в звіті &quot;Оцінка готовності до вимагання
            викупу: Коментари і Позначені для перегляду&quot;. У цьому
            розділі сторінки звіту CSET (ліве бокове меню “Звіти”) користувач може відкликати будь-які практики, які
            раніше були позначені для перегляду, разом із конкретними коментарями.</p>

        <p><span><img src="assets/images/RRA/tutorial/image009.jpg" alt="Значок довідки"
                    v:shapes="Picture_x0020_23" /></span><b><span>&nbsp;</span><span>&nbsp;
                </span>Довідка</b>: Для допомоги користувачеві оцінки готовності до вимагання викупу кожне питання
            супроводжується довідкою.&nbsp; Довідку слід використовувати для отримання інформації про фон, можливі
            приклади та критерії, які визначають вимоги для відповіді “Так”.&nbsp; Довідку можна відкрити, вибравши
            значок "Довідка" з літерою "G", розташований під питанням.</p>
        <p><span><img src="assets/images/RRA/tutorial/image011.jpg" alt="Значок коментарів"
                    v:shapes="Picture_x0020_22" /></span><span>&nbsp; </span><b>Коментарі</b>: Вибір
            цього значка відображує текстове поле, яке можна використовувати для коментарів щодо кожного питання.
            Наприклад, користувач оцінки може залишити помітку для майбутнього посилання щодо обґрунтування відповіді
            "Ні". Зауважте: ці коментарі не включаються в офіційний звіт і призначені для конфіденційного використання
            фасилітатором.</p>
        <p>Практики з коментарями перераховані в звіті "Оцінка готовності до вимагання викупу: Коментари і Позначені для
            перегляду". У цьому розділі сторінки звіту CSET (ліве бокове меню “Звіти”), користувач може відкликати
            будь-які практики, які раніше були позначені для перегляду, разом із конкретними коментарями.</p>
        <p><span><img src="assets/images/RRA/tutorial/image013.jpg" alt="Значок посилань на артефакти"
                    v:shapes="Picture_x0020_21" /></span><span>&nbsp;
            </span><b>Артефакти/Документи</b>: Легко асоціюйте, відстежуйте та зберігайте докази, артефакти та інші
            додаткові
            документи під час оцінки. </p>
        <p>Ці документи зберігаються разом із оцінкою в розділі "Засоби CSET" в розділі "Документи оцінки". <span><img
                    src="assets/images/RRA/tutorial/image014.png" alt="Засоби" style="height:2rem" /></span></p>
        <p><span><img src="assets/images/RRA/tutorial/image015.jpg" alt="Значок посилань"
                    v:shapes="Picture_x0020_20" /></span><span>&nbsp; </span><b>Посилання</b>:
            Вибір значка посилань відобразить посилання.</p>
        <p><span><img src="assets/images/RRA/tutorial/image016.jpg" alt="Значок спостережень"
                    v:shapes="Picture_x0020_19" /></span><span>&nbsp; </span><b>Спостереження</b>:
            Вибір цього значка відобразить діалогове вікно для зафіксування інформації про питання, пов'язане з
            практикою, разом із важливістю, датою вирішення тощо.</p>
        <p><span><img src="assets/images/RRA/tutorial/image018.jpg" alt="Значок відгуку"
                    v:shapes="Picture_x0020_18" /></span><span>&nbsp; </span><b>Зворотній зв'язок</b>: Використовується для
            надання відгуку щодо питання CISA.&nbsp; Наприклад, користувач може прокоментувати, що мова питання занадто
            складна і запропонувати альтернативне викладення.</p>
    </div>

    <app-nav-back-next [page]="'tutorial-rra'" [hide]="'back'"></app-nav-back-next>
</div>