<!---------------------- 

   Copyright 2023 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a tutorial">
    <h3 class="wrap-text mb-3">Посібник EDM</h3>

    <div class="mb-4">
        <h5>Огляд</h5>

        <p>Оцінювання EDM спрямоване на практики управління ризиками, пов'язаними з зовнішніми залежностями, особливо
            ризиками, пов'язаними з інформаційними та комунікаційними технологіями (ICT). Цей тип ризику, що також часто
            називається ризиком ланцюжка постачання або стороннім ризиком, особливо стосується багатьох організацій, які
            мають велику кількість зовнішніх залежностей, число яких постійно збільшується. Організації стикаються з
            вродженою невизначеністю в управлінні складними, швидко мінливими, незалежними відносинами, пов’язаними з
            технологіями. Вони також стикаються з загрозливим середовищем, яке посилює ці занепокоєння. Оцінювання EDM
            допомагає, надаючи дієвий та ефективний спосіб вимірювати та доповідати про здатність організації управляти
            цим ризиком. Оцінювання EDM також включає та розширює концепції кібербезпеки, що включені в Національний
            інститут стандартів і технологій (NIST). </p>

        <p>Зовнішні залежності існують, коли зовнішні суб'єкти мають визначені зобов'язання або відносини з активами чи
            послугами, які ваша організація потребує для підтримки своїх бізнес-цілей та місії. Приклади включають
            сторонні рішення, які надають, експлуатують, керують, мають доступ до, володіють або мають інші відносини
            між ключовими ICT та пов'язаними активами. </p>
    </div>

    <div class="mb-4">
        <h5>Оцінювання EDM</h5>

        <p>Оцінювання EDM складається з структурованого інтерв'ю з ключовим персоналом, яке триває близько півдня. Його
            метою є вимірювання й звітування про практики кібербезпеки організації у контексті управління зовнішніми
            залежностями та пов'язаними ризиками.</p>

        <p>Оцінювання EDM відображає здатності організації на певний момент часу - на час виконання оцінювання. </p>

        <p>Оцінка не враховує:</p>
        <ul>
            <li>діяльності, які заплановані або знаходяться в процесі впровадження
            </li>
            <li>практики, які не здійснювалися тривалий час. Наприклад, якщо у організації є план відновлення після
                виникнення кризової ситуації, який за відгуками учасників є застарілим до такої міри, що його неможливо
                використовувати, то цей план не повинен бути врахованим.
            </li>



        </ul>
    </div>

    <div class="mb-4">
        <h5>Служби зовнішніх сутностей </h5>

        <p>Прикладами залежностей є зовнішні сутності, що надають: </p>

        <ul>
            <li>
                сервіси, що явно включають у себе експлуатацію, обслуговування або забезпечення
                інформаційно-комунікаційних технологій для організації. Прикладами цих послуг слугують хмарні послуги,
                хостинг даних, обслуговування на місці та функціонування систем управління для підтримки організації.
            </li>
            <li>
                сервіси, які підтримуються ICT, включаючи будь-який тип сервісу, який у значній мірі підтримується за
                допомогою інформаційно-комунікаційних технологій. У фінансовому секторі до прикладів можна віднести друк
                виписок з рахунків підрядником банківської установи.
            </li>
            <li>
                державні сервіси, такі як пожежна охорона та поліція, для захисту центрів обробки даних.
            </li>
            <li>
                інфраструктурні сервіси, такі як електропостачання, телекомунікаційні мережі чи транспорт.
            </li>
            <li>
                технологічні продукти та сервіси, такі як апаратне та програмне забезпечення, яке використовується
                організацією для надання послуг своїм клієнтам.
            </li>
        </ul>
    </div>

    <div class="mb-4">
        <h5>Типи зовнішніх сутностей</h5>

        <p>Для всеобічної оцінки можливостей EDM у організації та забезпечення її повноти, ставляться кілька питань про
            практики, здійснювані для різних типів зовнішніх сутностей. Використовуються такі типи зовнішніх сутностей:
        </p>

        <ul>
            <li><strong>Постачальник</strong> - зовнішні сутності, які надають товари та послуги, пов'язані з ICT, з
                якими отримувач має
                можливість взаємодіяти. Цих сутностей часто називають субпідрядниками або постачальниками. Залежно від
                обсягу та потреб організації, ця категорія також може застосовуватися для підтримуючих філій або окремих
                підрозділів більшої підприємницької структури. Прикладами таких постачальників є централізовані ІТ-або
                інші
                бізнес-сервіси. Такі відносини іноді регулюються угодами про операційний рівень.</li>
            <li><strong>Державні послуги</strong> - послуги, які надаються державним відомством або установою. Ці
                послуги часто пов'язані з
                безпекою, наприклад, пожежна охорона, поліція та швидка медична допомога.</li>
            <li><strong>Постачальники інфраструктури</strong> - постачають товари або сервіси для регіону, економіки,
                галузі інфраструктури
                або політичного підрозділу; однак отримувач зазвичай не має комерційно практичної можливості взаємодіяти
                з
                цим типом постачальника. Прикладами постачальників інфраструктури є водоканал, постачальник
                електроенергії
                чи транспортна компанія.</li>
        </ul>
    </div>

    <div class="mb-4">
        <h5>Обсяг критичних служб</h5>

        <p>Оцінювання EDM має сервісну спрямованість, що означає, що воно призначене для оцінки управління зовнішніми
            залежностями організації відносно певного критичного сервісу. </p>

        <p>Необхідно вибрати критично важливу послугу, яка визначається як:</p>

        <p>Критична служба повинна бути вибрана і визначена як набір дій, які організація виконує під час своєї
            діяльності або виробництві продукту, які настільки важливі, що їх порушення серйозно позначиться на
            подальших діях або успіху в досягненні своєї місії. </p>

        <p>Зазвичай у організацій є набір критичних служб, які визначають їхню місію. Вибір критичної служби для
            оцінювання, а не оцінювання організації в цілому, допомагає визначити обсяг оцінювання та пов'язати
            результати з місією організації.</p>

        <p>Нижче наведено приклади організацій та їх типових критичних послуг, які можуть бути обрані як частина
            оцінювання CRR: </p>


        <ul>
            <li>банки та інші фінансові установи: кліринг та розрахунки, обробка іпотечних заявок </li>

            <li>постачальники екстрених служб: обробка викликів 911, диспетчеризація </li>

            <li>електростанції: виробництво електроенергії, розподіл електроенергії </li>

            <li>лікарні: клінічні послуги, управління рецептами </li>

            <li>урядові агенції: управління справами в судах, управління соціальними виплатами </li>

            <li>виробничі компанії: операції обробки, обробка замовлень </li>

            <li>аеропорти: контроль повітряного руху, управління паливом </li>
        </ul>
    </div>


    <div class="mb-5">
        <h5>Архітектура та структура оцінювання EDM</h5>

        <p>У наведеній нижче таблиці детально описано домени оцінювання EDM. Кожен домен представляє важливі можливості,
            які сприяють управлінню зовнішніми залежностями протягом життєвого циклу відносин із зовнішніми
            організаціями. </p>

        <table class="cset-table">
            <tr>
                <th>Домен оцінки EDM</th>
                <th class="text-right">Номер. цілей</th>
                <th class="text-right">Номер. практики цілей</th>
            </tr>
            <tr>
                <td>
                    Формування відносин
                </td>
                <td class="text-right">6</td>
                <td class="text-right">26</td>
            </tr>
            <tr>
                <td>Управління відносинами та управління</td>
                <td class="text-right">7</td>
                <td class="text-right">30</td>
            </tr>
            <tr>
                <td>Захист і підтримка послуг</td>
                <td class="text-right">3</td>
                <td class="text-right">15</td>
            </tr>
            <tr>
                <td>
                    Практики MIL
                </td>
                <td class="text-right">4</td>
                <td class="text-right">15</td>
            </tr>
        </table>
        <div class="image-caption">Таблиця 1: Склад домену оцінювання EDM: кількість цілей і практик досягнення цілей
        </div>
    </div>

    <div class="mb-4">
        <h5>Структура практичних питань</h5>

        <p>Для кожного практичного питання передбачена 3-бальна шкала відповідей для оцінки ступеня впровадження кожної
            практики. Кожне питання має три можливі відповіді: «Так», «Не завершено» та «Ні»: </p>

        <img src="assets/images/EDM/tutorial/image001.png"
            alt="Practice Questions Answer Choice Icons: Yes, No, Incomplete" />

        <ul>
            <li><strong>Так</strong> – організація повністю виконує вказану в питанні дію.</li>

            <li><strong>Не завершено</strong> – організація частково виконує дію.</li>

            <li><strong>Ні</strong> – організація не виконує дію взагалі.</li>
        </ul>



        <p><img src="assets/images/EDM/tutorial/image002.png" alt="Mark for Review Icon" class="image-center"
                style="float: left; vertical-align: top">
            <span class="mt-2">
                <strong>Позначити для перегляду</strong>: праворуч від трибальної шкали відповідей є піктограма
                прапорця, за допомогою якої можна позначити практику для перевірки. Позначені запитання перераховані у
                звіті «Коментарі EDM і позначені для перегляду». У цьому розділі сторінки звіту CSET (ліва навігаційна
                панель «Звіти») користувач може знайти коментарі, що стосуються кожного практичного запитання, і згадати
                будь-які практики, раніше позначені для перегляду.
            </span>
        </p>

        <div class="mb-3">
            <img src="assets/images/EDM/tutorial/image003.jpg" class="image-center" [class.w-100]="layoutSvc.hp"
                alt="Figure one shows the practice question layout.">
            <div class="image-caption">Рисунок 1: Розмітка практичних запитань</div>
        </div>

        <p>
            <img src="assets/images/EDM/tutorial/image004.jpg" alt="Guidance Icon"><strong>Додаткові вказівки</strong>:
            Щоб допомогти фасилітатору, кожне запитання супроводжується вказівками. Слід звернутися до посібника, щоб
            отримати довідкову інформацію, можливі приклади та артефакти, а також критерії, які визначають вимоги для
            відповідей «Так» і «Неповна». Вказівки активуються, вибравши піктограму вказівок, що містить літеру «G»,
            розташовану під запитанням.
        </p>

        <p><img src="assets/images/EDM/tutorial/image005.jpg" alt="Comments Icon"><strong>Коментарі</strong>:
            Якщо вибрати цю піктограму, відобразиться текстове поле, яке можна використовувати для
            коментарів щодо запитання. Наприклад, фасилітатор для подальшого використання може
            зробити примітку, чому відповідь була позначена як неповна, а як ні. Зауважте, що ці
            коментарі не включено до офіційного звіту та призначені для приватних для фасилітатора.
        </p>

        <p>
            Практики з коментарями перераховані у звіті «Коментарі EDM і позначені для перегляду». У цьому розділі
            сторінки звіту CSET (ліворуч навігаційна панель «Звіти») користувач може знайти коментарі до кожного
            практичного запитання, зробленого під час оцінювання, і згадати будь-які практики, раніше позначені для
            перегляду.
        </p>


        <p><img src="assets/images/EDM/tutorial/image006.jpg"
                alt="Artifacts References Icon"><strong>Артефакти/Документи</strong>:
            легко пов’язуйте, відстежуйте та зберігайте артефакти та інші супровідні документи
            протягом усього оцінювання.</p>


        <p><img src="assets/images/EDM/tutorial/image007.jpg" alt="References Icon"><strong>Посилання</strong>:
            Якщо вибрати піктограму «Посилання», відобразяться параметри для розгляду, пов’язані з
            конкретним запитанням. Варіанти для розгляду зазвичай знаходяться у звіті, але вони
            також доступні фасилітатору під час проведення оцінювання. Ці параметри окреслюють
            загальні вказівки чи дії та пов’язані джерела, які можна використовувати для покращення
            практики кібербезпеки організації та стійкості оцінюваної критичної служби.</p>


        <p><img src="assets/images/EDM/tutorial/image008.jpg" alt="Observations Icon"><strong>Спостереження</strong>:
            Якщо вибрати цей значок, з’явиться діалогове вікно з деталями спостереження, яке
            використовується для збору інформації про проблему, пов’язану з конкретною практикою, а
            також її важливість, дату вирішення тощо.</p>


        <p><img src="assets/images/EDM/tutorial/image009.jpg" alt="Feedback Icon"><strong>Зворотній зв'язок</strong>:
            Використовується для надання відгуку щодо запитання до CISA. Наприклад, користувач може
            зауважити, що мова запитання надто складна, і запропонувати альтернативне
            формулювання.
        </p>
    </div>



    <div class="mb-4">
        <h5>Визначення глосарію</h5>

        <p>Питання може містити контекстну довідку щодо певних термінів. Це можна отримати, навівши курсор на термін,
            підкреслений серією крапок. </p>

        <div class="mb-3">
            <img src="assets/images/EDM/tutorial/image010.png" class="image-center" [class.w-100]="layoutSvc.hp"
                alt="Figure 2 shows the glossary definition pop-up embedded in the practice question text. ">
            <div class="image-caption">
                Рисунок 2: Спливаюче вікно з визначеннями глосарію
            </div>
        </div>

        <div class="mb-4">
            <p>У кінці кожного домену користувачеві доступне текстове поле «Примітки». Будь-який текст, введений у це
                поле, дослівно копіюється у звіт. Його можна використовувати для збору такої інформації, як міркування
                або інформація про конкретну організацію. Наприклад, якщо вже ведеться робота з удосконалення,
                спрямована на вирішення деяких практик у певній області, це можна деталізувати тут, щоб зробити це
                частиною офіційного звіту. <b>Оскільки цей текст дослівно скопійовано у звіт, користувач має бути
                    обережним у своїх коментарях.</b> 
            </p>

            <div class="mb-3">
                <img src="assets/images/EDM/tutorial/image011.png" class="image-center" [class.w-100]="layoutSvc.hp"
                    alt="Figure 3 shows the Remarks text box located at the end of each domain.">
                <div class="image-caption">
                    Рисунок 3: текстове поле «Примітки»
                </div>
            </div>
        </div>


        <div class="mb-4">
            <h5>Типи активів</h5>

            <p>Щоб підтримати точність і повноту оцінки, кілька запитань включають конкретні практики для кожного типу
                активів. Ці типи активів:</p>

            <ul>
                <li>Люди - персонал (як внутрішній, так і зовнішній для організації), такі як люди, які підтримують
                    центри обробки
                    даних чи використовують інформаційно-комунікаційні технології для управління та моніторингу сервісу.
                </li>
                <li>Інформація - інформація облікового запису, файли конфігурації технічних активів, операційні дані,
                    інформація
                    про клієнтів та інша інформація, необхідна для надання послуги.</li>
                <li>Технології - комп'ютери (апаратне забезпечення), програмне забезпечення, системи управління чи інші
                    технології, включаючи зовнішні інформаційні системи, які організація використовує для надання
                    послуг. </li>
                <li>Споруди - офісні будівлі, центри обробки даних та інші фізичні структури, які підтримують надання
                    послуги.
                </li>
            </ul>

            <p>Деякі запитання вимагають окремої відповіді для кожного з чотирьох активів, тоді як інші запитання
                стосуються всіх активів. Дивіться приклад нижче.</p>


            <div class="mb-4">
                <img src="assets/images/EDM/tutorial/image012.jpg" class="image-center" [class.w-100]="layoutSvc.hp"
                    alt="Figure 4 shows an example of Asset Types.">
                <div class="image-caption">Рисунок 4: Типи активів</div>
            </div>
        </div>


        <div class="mb-4">
            <h5>Типи зовнішніх сутностей</h5>

            <p>Як описано вище, оцінка EDM стосується трьох типів зовнішніх об’єктів. Щоб забезпечити повноту, кілька
                запитань стосуються практики, що виконується для різних типів зовнішніх об’єктів. Дивіться приклад
                нижче.</p>

            <div class="mb-3">
                <img src="assets/images/EDM/tutorial/image013.jpg" class="image-center" [class.w-100]="layoutSvc.hp"
                    alt="Figure 5 shows an example of the external entity types.">
                <div class="image-caption">Рисунок 5: Типи зовнішніх сутностей</div>
            </div>
        </div>


        <div class="mb-4">
            <h5>Рівні індикаторів зрілості</h5>

            <p>Оцінка EDM використовує один стандартний набір питань стосовно рівнів індикаторів зрілості (MIL). Ці
                питання оцінюють інституціоналізацію практик EDM в організації. Інституціоналізація означає, що практики
                кібербезпеки стають глибшою й тривалішою частиною організації, оскільки вони управляються та
                підтримуються значущими способами. Коли практики кібербезпеки стають більш інституціоналізованими або
                "вбудованими", менеджери можуть бути більш впевненими в передбачуваності й надійності практик.
                Інституціоналізовані практики також ймовірніше будуть підтримуватися під час руйнування чи стресу для
                організації.</p>

            <p> Рівень індикатора зрілості (MIL) відноситься до здатності організації керувати зовнішніми
                залежностями. Він представляє консолідований погляд на продуктивність. Під час оцінки EDM
                використовується одна шкала зрілості для всіх трьох доменів, оскільки ці домени представляють різні
                частини життєвого циклу. </p>

            <p>Сама шкала MIL складається з шести рівнів зрілості, кожен із жорстко визначеними складовими: </p>


            <div class="my-4">
                <h6>MIL0 Незакінчений -> MIL1 Виконаний -> MIL2 Запланований -> MIL3 Керований -> MIL4 Виміряний -> MIL5
                    Визначений </h6>
            </div>


            <h6>MIL0 Незакінчений</h6>

            <p>Всі практики в домені не здійснюються повністю, як свідчать відповіді на відповідні питання оцінки EDM в
                цьому домені.
            </p>


            <h6>MIL1 Виконаний</h6>

            <p>Всі практики, які підтримують цілі в домені, виконуються, як свідчать відповіді на відповідні питання
                оцінки EDM. </p>


            <h6>MIL2 Запланований</h6>

            <p>Конкретна практика в домені оцінки EDM не лише виконується, а й підтримується плануванням, політикою,
                зацікавленими сторонами та відповідними стандартами та керівними принципами.</p>


            <h6>MIL3 Керований</h6>

            <p>Всі практики в домені виконуються, заплановані та мають базову інфраструктуру управління, відповідну
                кількість персоналу, достатньо фінансування та керуються з урахуванням ризиків. </p>


            <h6>MIL4 Виміряний</h6>

            <p>Всі практики в домені виконуються, заплановані, управляються, моніторяться та контролюються. Виміряний
                процес або практика періодично оцінюється на ефективність, порівнюється з його описом та планом та
                періодично переглядається керівництвом вищого рівня. </p>


            <h6>MIL5 Визначений</h6>


            <p>
                Всі практики в домені виконуються, заплановані, керовані, виміряні та є послідовними у всіх зацікавлених
                сторін організації, які мають зацікавленість у виконанні практики. На рівні MIL5 процес або практика
                визначається організацією та налаштовується окремими оперативними одиницями та підтримується інформацією
                щодо вдосконалення, яка збирається та сумісно використовується оперативними одиницями для загальної
                користі організації.
            </p>

            <p>
                У вищенаведеній прогресії організація може досягти певного рівня MIL лише у разі досягнення
                всіх нижчих рівнів MIL. Іншими словами, організація, яка не виконує всі практики кібербезпеки на рівні
                MIL1 в домені, також не зможе досягти рівня MIL2 в цьому домені, навіть якщо вона задовільнила б усі
                вимоги
                на рівні MIL2.
            </p>

        </div>

        <app-nav-back-next [page]="'tutorial-edm'" [hide]="'back'"></app-nav-back-next>
    </div>