<!---------------------- 

   Copyright 2023 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a tutorial">
        <h3 class="wrap-text mb-3">Посібник CRR</h3>

        <div class="mb-4">
                <h5>Огляд</h5>

                <p>
                        <a href="{{configSvc.docUrl}}htmlhelp/CRR/index.html" target="_blank">
                                Оцінювання кібернетичної стійкості (Cyber Resilience Review, CRR)</a> забезпечує
                        вимірювання
                        можливості кібернетичної стійкості організації. Оцінювання CRR також дозволяє організації
                        здійснити вимірювання своїх можливостей в контексті Кібернетичного Фреймворку Національного
                        Інституту Стандартів та Технологій (NIST CSF) версії 1.1, причому результати CRR відображаються
                        у термінах NIST CSF. Фасилітатор повинен переглянути Опис методики CRR та Посібник користувача
                        оцінювання CRR як вихідну точку для підготовки та проведення оцінкювання CRR.
                </p>
        </div>
        <div class="mb-4">
                <h5>Оцінювання CRR</h5>


                <p>
                        Оцінювання CRR - це легкий метод оцінки на основі інтерв'ю, створений Управлінням кібербезпеки
                        та безпеки інфраструктури (CISA) з метою оцінки практик кібербезпеки та безперервності служб у
                        власників та операторів критичної інфраструктури.

                        Оцінювання CRR, що складається з 10 доменів практики з 299 питань, зазвичай проводиться у формі
                        шестигодинного інтерактивного семінару. Кожен домен представляє важливі можливості, які сприяють
                        кібернетичній стійкості організації. Кількість цілей та практичних питань відрізняється для
                        кожного домену, але набір питань рівня показників зрілості (MIL) та концепції, які вони
                        включають, для всіх доменів однакові. Питання рівня показників зрілості оцінюють провадження
                        практик в організації.
                </p>



                <p>CRR відображає можливості організації в конкретний момент часу - на момент оцінки. Вона спрямована до
                        розуміння управління кібербезпекою бізнес-сервісів та пов'язаних з ними активів, які є
                        критичними для успішності місії організації. CRR вимірює важливі кібернетичні можливості та
                        поведінку, щоб надати значущі показники операційної стійкості організації під час нормальних
                        операцій та в умовах операційного стресу. </p>

                <p>Оцінка не враховує: </p>
                <ul class="mb-4">
                        <li>діяльності, які заплановані або знаходяться в процесі впровадження</li>
                        <li>практики, які не здійснювалися тривалий час. Наприклад, якщо у організації є план
                                відновлення після виникнення кризової ситуації, який за відгуками учасників є застарілим
                                до такої міри, що його неможливо використовувати, то цей план не повинен бути
                                врахованим.</li>
                </ul>
        </div>


        <div class="mb-4">
                <h5>Обсяг критичної служби</h5>

                <p>Оцінювання CRR має сервісно-орієнтований підхід, що визначає його призначення для оцінки управління
                        конкретною службою організації, критичною для її місії. Визначення обсягу оцінки має вирішальне
                        значення, оскільки відповіді на питання CRR повинні бути надані у відношенні до конкретної
                        служби та активів, які забезпечують цю службу.</p>
                <p>Обмеження оцінювання повинне бути вибране і визначене як:</p>
                <p>набір дій, які організація виконує під час своєї діяльності або виробництві продукту, які настільки
                        важливі, що їх порушення серйозно позначиться на подальших діях або успіху в досягненні своєї
                        місії. </p>
                <p>Зазвичай у організацій є набір критичних служб, які визначають їхню місію. Вибір критичної служби для
                        оцінювання, а не оцінювання організації в цілому, допомагає визначити обсяг оцінювання та
                        пов'язати результати з місією організації. </p>
                <p>Нижче наведено приклади організацій та їх типових критичних послуг, які можуть бути обрані як частина
                        оцінювання CRR: </p>

                <ul class="mb-4">
                        <li>банки та інші фінансові установи: кліринг та розрахунки, обробка іпотечних заявок</li>
                        <li>постачальники екстрених служб: обробка викликів 911, диспетчеризація</li>
                        <li>електростанції: виробництво електроенергії, розподіл електроенергії</li>
                        <li>лікарні: клінічні послуги, управління рецептами</li>
                        <li>урядові агенції: управління справами в судах, управління соціальними виплатами</li>
                        <li>виробничі компанії: операції обробки, обробка замовлень</li>
                        <li>аеропорти: контроль повітряного руху, управління паливом</li>
                </ul>

        </div>

        <div class="mb-4">
                <h5>Структура практичних питань</h5>

                <p>Для кожного практичного питання передбачена 3-бальна шкала відповідей для оцінки ступеня впровадження
                        кожної практики. Кожне питання має три можливі відповіді: «Так», «Не завершено» та «Ні»: </p>

                <p><img alt="Practice Questions Answer Choice Icons: Yes, No, Incomplete" height="48"
                                src="assets/images/CRR/tutorial/img1.png" />
                </p>
                <ul>

                        <li><strong>Так</strong> – організація повністю виконує вказану в питанні дію.</li>
                        <li><strong>Не завершено</strong> – організація частково виконує дію</li>
                        <li><strong>Ні</strong> – організація не виконує дію взагалі.</li>
                </ul>


                <p><img alt="Mark for Review Icon" width="45" height="55"
                                src="assets/images/CRR/tutorial/drex_first_topic_custom_2.png" /><span><strong>Позначено
                                        для перегляду</strong>: Праворуч від трибальної шкали відповідей є піктограма
                                прапорця, за допомогою якої можна позначити практику для перегляду.</span></p>



                <div class="mb-5"><img alt="Practice Question Layout Illustration" class="w-100"
                                src="assets/images/CRR/tutorial/img2.png" />

                        <div class="text-center">Рисунок: Структура оцінювального запитання</div>
                </div>


                <p><img alt="Guidance Icon" width="37" height="26" class="align-baseline"
                                src="assets/images/CRR/tutorial/drex_first_topic_custom_4.png" /><span><strong>Додаткові
                                        вказівки</strong>: Щоб допомогти фасилітатору, кожне запитання супроводжується
                                вказівками. Слід звернутися до посібника, щоб отримати довідкову інформацію, можливі
                                приклади та артефакти, <strong>та критерії, які визначають вимоги до відповідей «Так» і
                                        «Не завершено»</strong>. Підказки активуються, вибравши піктограму підказок із
                                літерою «G», розташовану під запитанням.</span>
                </p>
                <p><img alt="Comments Icon" width="45" height="32" class="align-baseline"
                                src="assets/images/CRR/tutorial/drex_first_topic_custom_5.png" /><span><strong>Коментарі</strong>:
                                Якщо вибрати цю піктограму, відобразиться текстове поле, яке можна використовувати для
                                коментарів щодо запитання. Наприклад, фасилітатор для подальшого використання може
                                зробити примітку, чому відповідь була позначена як неповна, а як ні. Зауважте, що ці
                                коментарі не включено до офіційного звіту та призначені для приватних для фасилітатора.
                        </span>
                </p>

                <p><img alt="Artifacts Icon" width="35" height="34" class="align-baseline"
                                src="assets/images/CRR/tutorial/drex_first_topic_custom_6.png" /><span><strong>Артефакти/Документи</strong>:
                                легко пов’язуйте, відстежуйте та зберігайте артефакти та інші супровідні документи
                                протягом усього оцінювання.</span></p>

                <p><img alt="References Icon" width="41" height="31" class="align-baseline"
                                src="assets/images/CRR/tutorial/drex_first_topic_custom_7.png" /><span><strong>Посилання</strong>:
                                Якщо вибрати піктограму «Посилання», відобразяться параметри для розгляду, пов’язані з
                                конкретним запитанням. Варіанти для розгляду зазвичай знаходяться у звіті, але вони
                                також доступні фасилітатору під час проведення оцінювання. Ці параметри окреслюють
                                загальні вказівки чи дії та пов’язані джерела, які можна використовувати для покращення
                                практики кібербезпеки організації та стійкості оцінюваної критичної служби.</span></p>
                <p><img alt="Observations Icon" width="29" height="32" class="align-baseline"
                                src="assets/images/CRR/tutorial/drex_first_topic_custom_8.png" /><span><strong>Спостереження</strong>:
                                Якщо вибрати цей значок, з’явиться діалогове вікно з деталями спостереження, яке
                                використовується для збору інформації про проблему, пов’язану з конкретною практикою, а
                                також її важливість, дату вирішення тощо.
                        </span></p>

                <p><img alt="Feedback Icon" width="37" height="29" class="align-baseline"
                                src="assets/images/CRR/tutorial/img3.png" /><span><strong>Зворотній зв'язок</strong>:
                                Використовується для надання відгуку щодо запитання до CISA. Наприклад, користувач може
                                зауважити, що запитання надто складне, і запропонувати альтернативне
                                формулювання.</span></p>
                <p>
                        Примітка: індикатор червоної крапки з’явиться, коли буде записано відгук.
                        <img alt="Feedback Icon with content" class="align-baseline" height="35"
                                src="assets/images/CRR/tutorial/img4.png">
                </p>
        </div>
        <div class="mb-4">
                <h5>Текстове поле приміток домену</h5>

                <p>У кінці кожного домену користувачеві доступне текстове поле Domain Remarks. Будь-який текст, введений
                        у це поле, дослівно копіюється у звіт. Його можна використовувати для збору такої інформації, як
                        міркування або інформація про конкретну організацію. Наприклад, якщо вже ведеться робота з
                        удосконалення, спрямована на вирішення деяких практик у певній області, це можна деталізувати
                        тут, щоб зробити це частиною офіційного звіту. <strong>Оскільки цей текст дослівно скопійовано у
                                звіт, користувач має бути обережним у своїх коментарях.</strong>
                </p>

                <div class="mb-5">
                        <img alt="Domain Remarks Illustration" style="width: 100%;"
                                src="assets/images/CRR/tutorial/img7.png" />
                        <div class="text-center">Рисунок: Поле приміток домену</div>
                </div>

        </div>
        <div class="mb-4">
                <h5>Типи активів</h5>

                <p>
                        CRR розділяє активи на чотири категорії: <a
                                href="{{configSvc.docUrl}}htmlhelp_crr/3_conducting_a_crr_assessment.htm"
                                target="_blank"><strong>Люди, Інформація, Технології та Споруди</strong></a>. Багато
                        питань
                        потребують окремої відповіді для кожного з чотирьох активів, тоді як інші питання посилаються на
                        всі активи.
                </p>

                <p>Чотири типи активів:</p>

                <ul>
                        <li><strong>Люди</strong> -
                                персонал (як внутрішній, так і зовнішній для організації), такі як люди, які підтримують
                                центри обробки даних чи використовують інформаційно-комунікаційні технології для
                                управління та моніторингу сервісу.
                        </li>
                        <li><strong>Інформація</strong>
                                - інформація облікового запису, файли конфігурації технічних активів, операційні дані,
                                інформація про клієнтів та інша інформація, необхідна для надання послуги.
                        </li>
                        <li><strong>Технологія</strong>
                                – комп'ютери (апаратне забезпечення), програмне забезпечення, системи управління чи інші
                                технології, включаючи зовнішні інформаційні системи, які організація використовує для
                                надання послуг.
                        </li>
                        <li><strong>Споруди</strong>
                                – комп'ютери (апаратне забезпечення), програмне забезпечення, системи управління чи інші
                                технології, включаючи зовнішні інформаційні системи, які організація використовує для
                                надання послуг.
                        </li>
                </ul>

                <p>Дивіться приклад нижче.</p>

                <div class="mb-5"><img alt="Asset Type Questions Illustration" style="border: solid 0px; width: 100%;"
                                src="assets/images/CRR/tutorial/img6.png" />
                        <div class="text-center">Рисунок: Типи активів</div>
                </div>


                <p>
                        Оцінювання CRR використовує один стандартний набір питань <a
                                href="{{configSvc.docUrl}}htmlhelp_crr/2_3_mil_scale.htm" target="_blank">рівня
                                показників зрілості (MIL)</a>.
                        Питання MIL досліджують впровадження практик CRR в організації. Впровадження означає, що
                        практики кібербезпеки стають глибшою, більш тривалою частиною організації, оскільки вони
                        управляються й підтримуються осмисленими способами. Коли практики кібербезпеки стають більш
                        інституціоналізованими або "вбудованими", менеджери можуть бути більш впевненими в
                        передбачуваності й надійності практик. Практики також стають більш стійкими під час періодів
                        розладу чи стресу для організації.
                </p>

                <p>Рівень показника зрілості (MIL) призначається для кожного домену CRR. Він представляє узагальнений
                        погляд на продуктивність. Сама шкала MIL використовує шість рівнів зрілості, кожен з яких має
                        строгі, визначені складові: </p>

                <h6>MIL0 Незакінчений -&gt; MIL1 Виконаний -&gt; MIL2 Запланований -&gt; MIL3 Керований -&gt; MIL4
                        Виміряний -&gt; MIL5 Визначений </h6>


                <h6>MIL0 Незакінчений</h6>
                <p>Усі практики в домені не виконуються повністю, як показують відповіді на відповідні питання CRR в
                        цьому домені. </p>

                <h6>MIL1 Виконаний</h6>
                <p>Усі практики, які підтримують цілі в домені, виконуються, як показують відповіді на відповідні
                        питання CRR. </p>

                <h6>MIL2 Запланований</h6>
                <p>Всі конкретні практики в домені CRR не тільки виконуються, але й підтримуються плануванням,
                        політикою, зацікавленими сторонами та відповідними стандартами та рекомендаціями. </p>

                <h6>MIL3 Керований</h6>
                <p>Усі практики в домені виконуються, заплановані та мають базову управлінську інфраструктуру, правильно
                        обладнані, достатньо фінансуються та керуються ризиками. </p>

                <h6>MIL4 Виміряний</h6>
                <p>Усі практики в домені виконуються, заплановані, управляються, моніторяться та контролюються.
                        Виміряний процес або практика періодично оцінюється на ефективність, оцінюється згідно з описом
                        практики, планом та періодично переглядається з вищим керівництвом.</p>

                <h6>MIL5 Визначений</h6>
                <p>
                        Усі практики в домені виконуються, заплановані, управляються, моніторяться та контролюються.
                        Виміряний процес або практика періодично оцінюється на ефективність, оцінюється згідно з описом
                        практики, планом та періодично переглядається з вищим керівництвом
                </p>

                <h6>MIL Прогресія</h6>
                <p>У вищезазначеному прогресі організація може досягти певного рівня MIL лише тоді, коли вона досягла
                        всіх нижчих рівнів MIL. Іншими словами, організація, яка не виконує всі кібербезпечні практики
                        на рівні MIL1 в домені, також не досягне рівня MIL2 в цьому домені, навіть якщо вона виконала
                        всі вимоги на рівні MIL2.
        </div>

        <div class="mb-3">Методологію підрахунку балів CRR докладніше описано в розділі 4.1
                <a href="{{configSvc.docUrl}}htmlhelp_crr/4_1_crr_scoring.htm" target="_blank">
                        Посібника користувача з оцінки CRR.</a>
        </div>


        <app-nav-back-next [page]="'tutorial-crr'" [hide]="'back'"></app-nav-back-next>
</div>